*, *:before, *:after{
    box-sizing: border-box;
}
/*index.html start*/
.wrap {
    max-width: 1980px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding:10px;
    height:95vh;
}

main{
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 70%;
    text-align: center;
    overflow-y: auto;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 25px;
}

#recordButton, .file-upload-wrapper button{
    background-color: hsl(122, 39%, 49%);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

#recordButton:hover, .file-upload-wrapper button:hover {
    background-color: #45A049;
}

.time {
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
}

aside {
    width:25%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
}

#historyContainer {
    list-style-type: none;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.history-block {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.history-block:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.history-title {
    font-size: 16px;
    color: #333333;
    margin: 0 0 8px 0;
}
.button-group{
    display: flex;
    justify-content: space-between;
}
.duration {
    color: #888888;
    font-size: 14px;
}

.audio{
    display: flex;
    gap:20px;
    justify-content: center;
}

.status {
    flex-grow: 1; 
    text-align: center; 
    font-size: 16px;
    color: #555;
    font-weight:bold;
}

.other-function {
    display: flex;
    gap: 10px; 
}

.download-doc {
    color: green;
    cursor: pointer;
    font-size:20px;
    position: absolute;
    bottom:40px;
    right:40px;
}

.results {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.results li {
    color: #4CAF50;
    font-size: 18px;
    margin-bottom: 10px;
    list-style-type: none;
}
.results a{
    text-decoration: none;
    color:green;
    font-size: bold;
}

.results a:hover{
    border-bottom:2px solid #45A049;
}

.content{
    text-align: left;
    margin-left:40px;
}
.active{
    border-bottom:2px solid #45A049;
}

.results p {
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.full-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    height:80vh;
    overflow-y: auto;
}
.full-download-doc{
    font-size: 24px;
    color:darkgray;
}
.full-download-doc:hover{
    cursor: pointer;
    color: black;
}

.active{
    display: block;
}

.hidden{
    display: none;
}

.full-content-header{
    display:flex;
    justify-content: space-between;
}
.other-functions{
    display: flex;
    gap:20px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
    margin-left: 10px;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.close-btn{
    font-size:24px;
    color:darkgray;
}
.close-btn:hover{
    cursor: pointer;
    color:black;
}
.login-button, .logout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover, .logout-button:hover {
    background-color: #4CAF50;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.login-button:focus, .logout-button:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
/*index.html end*/