<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Synopsis | 聲音轉文字與摘要</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>
    <div class="wrap">
        <aside>
            <h2>歷史記錄</h2>
            <ul id="historyContainer"></ul>
        </aside>
        <main>
            <h1>Sound Synopsis | 聲音轉文字與摘要</h1>
            <button id="recordButton"><i class="fa-solid fa-microphone"></i></button>
            <span id="loader" class="loader hidden"></span>
            <p class="time">00:00:00</p>
            <p class="status">停止錄音</p>
            <ul class="results">
                <li><a href="#" class="tab-original">原文</a></li>
                <li><a href="#"  class="tab-modify">修飾文字</a></li>
                <li><a href="#" class="tab-summary">總結</a></li>
                <li><a href="#" class="tab-bullet">列點總結</a></li>
            </ul>
            <p class="content">無內容</p>
        </main>
    </div>
    <div class="mask hidden"></div>
    <div class="full-content hidden">
        <div class="full-content-header">
            <h3 class="history-title">聲音轉文字與摘要</h3>
            <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <h4>原文：</h4>
        <p class="history-original"></p>
        <h4>修飾文字：</h4>
        <p class="history-modification"></p>
        <h4>總結：</h4>
        <p class="history-summary"></p>
        <h4>重點總結：</h4>
        <p class="history-bullet_point"></p>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>
